.character-card {
  width: 250px;
  height: 400px;
  border-radius: 16px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  /* 💡 Borde glow por defecto */
  box-shadow: 0 0 10px rgba(236, 1, 1, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Imagen dentro de la card */
.character-card .MuiCardMedia-root {
  object-fit: contain;
  max-height: 310px;
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}

/* Hover sobre imagen */
.character-card:hover .MuiCardMedia-root {
  transform: scale(1.2);
}

/* 🔥 Hover con efecto glow animado */
.character-card:hover {
  animation: pulseGlow 2s infinite;
  transform: scale(1.05);
}

/* ✨ Animación de borde fluorescente */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px #fffb03, 0 0 20px #16f816;
  }
  50% {
    box-shadow: 0 0 20px #ee0987, 0 0 40px #ee0987;
  }
  100% {
    box-shadow: 0 0 10px hsl(180, 100%, 50%), 0 0 20px #00ffff;
  }
}
